body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: radial-gradient(circle, #ffb3d9, #ff66b2, #ff3385
    );
    
}
.card{
    max-width: 600px;
    margin: 20px auto;
    border-radius: 20px;
    text-align: center;
    background-color: whitesmoke;
    width: 600px;
    height: 400px;
}
.box{
    width: 300px;
    height: 100px;
    background-color: hotpink;
    animation: move 1s infinite alternate;
}
.box p{
    font-size: xx-large;
    font-weight: bolder;
    color: gold;
}
@keyframes move{0%
{transform: translatey(0);}

100%{
    transform: translateX(200px);
}
@keyframes puls{0%
 transform:scale(1);
    }
    50%{
        transform:scale(1.15);
    }
    
    
    



