body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: radial-gradient(circle, #ffb3d9, #ff66b2, #ff3385
    );
    
}
.card{
    max-width: 600px;
    margin: 50px auto;
    border-radius: 40px;
    text-align: center;
    background-color: white;
    box-shadow: #ff66b2;
    width: 600px;
    height: 400px;
    transition: transform 0.3s ease-in-out;
    animation: puls 3s infinite;
    
    }
 .card p{
    font-size: large;
    
    
 }
    .card:hover{
        transform: translateY(-8px); 
        scale: 1;
    }
    .card-img img{
        width: 300px;
        height: auto;
        
    }

    .card-img img:hover{
        transform: scale(2.2)
        rotate(10deg)
        translateY(-5px)
    }

.box{
    width: 200px;
    height: 200px;
    background-color: hotpink;
    animation: move 1s infinite alternate;
}
.box p{
    font-size: xx-large;
    font-weight: bolder;
    color: gold;
}

@keyframes move{0%
{transform: translatey(0);}

100%{
    transform: translateX(200px);
}
@keyframes puls{0%
 transform:scale(1);
    }
    50%{
        transform:scale(1.15);
    }

  

    


    
    
    



